In [1]:
import streamlit as st
import pandas as pd
import plotly_express as px

df = pd.read_csv('../vehicles_us.csv')
print(df.head())

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [3]:
print (df.isna().sum())

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [4]:
df['is_4wd']=df['is_4wd'].fillna(0)
print(df.isna().sum())

price              0
model_year      3619
model              0
condition          0
cylinders       5260
fuel               0
odometer        7892
transmission       0
type               0
paint_color     9267
is_4wd             0
date_posted        0
days_listed        0
dtype: int64

In [5]:
df_clean = df.dropna(subset=['model_year', 'cylinders', 'odometer', 'paint_color'])
print(df_clean.isna().sum())

price           0
model_year      0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
type            0
paint_color     0
is_4wd          0
date_posted     0
days_listed     0
dtype: int64

In [6]:
df_clean.to_csv('../vehicles_us_clean.csv', index=False)

In [14]:
df = pd.read_csv('vehicles_us_clean.csv')
df['manufacturer'] = df['model'].apply(lambda model: model.split()[0])

In [15]:
print (df)

       price  model_year           model  condition  cylinders fuel  odometer  \
0       5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
1      14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0
2      14990      2014.0    chrysler 300  excellent        6.0  gas   57954.0
3      12990      2015.0    toyota camry  excellent        4.0  gas   79212.0
4      15990      2013.0     honda pilot  excellent        6.0  gas  109473.0
...      ...         ...             ...        ...        ...  ...       ...
29911   3750      2005.0     ford taurus  excellent        6.0  gas  110200.0
29912   9249      2013.0   nissan maxima   like new        6.0  gas   88136.0
29913   2700      2002.0     honda civic    salvage        4.0  gas  181500.0
29914   3950      2009.0  hyundai sonata  excellent        4.0  gas  128000.0
29915   7455      2013.0  toyota corolla       good        4.0  gas  139573.0

      transmission   type paint_color  is_4wd date_posted  days_listed  \
0        automatic  sedan         red     0.0  2019-02-07           79
1        automatic  sedan       black     0.0  2019-04-02           28
2        automatic  sedan       black     1.0  2018-06-20           15
3        automatic  sedan       white     0.0  2018-12-27           73
4        automatic    SUV       black     1.0  2019-01-07           68
...            ...    ...         ...     ...         ...          ...
29911    automatic  sedan      silver     0.0  2018-08-10           63
29912    automatic  sedan       black     0.0  2018-10-03           37
29913    automatic  sedan       white     0.0  2018-11-14           22
29914    automatic  sedan        blue     0.0  2018-11-15           32
29915    automatic  sedan       black     0.0  2018-07-02           71

      manufacturer
0          hyundai
1         chrysler
2         chrysler
3           toyota
4            honda
...            ...
29911         ford
29912       nissan
29913        honda
29914      hyundai
29915       toyota

[29916 rows x 14 columns]